[Desktop Entry]
Encoding=UTF-8
Name=連結至 怎样在android平台上使用第三方jar包？？？ - CSDN论坛 - CSDN.NET
Type=Link
URL=http://bbs.csdn.net/topics/320179012
Icon=text-html
